[Unit]
Description=Simplest Downloads organizer
[Service]
Type=simple
ExecStart=/usr/local/bin/fixmydl
Restart=on-failure
RestartSec=10
KillMode=process
[Install]
WantedBy=multi-user.target
